<h3>R for Reproducible Scientific Analysis</h3>
<p><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html">Course Episodes</a></p>
<div class="row">        <!-- first three days -->
    <div class="col-md-6"> <!-- left column -->
    <h3>March 11, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00am - 11:00am MT (12:00pm - 1:00pm ET)</td>
        <td>We will use this one hour session to check in about set up and make sure everyone is able to open the correct software on their machine. It will also include an introduction to the instructors and helpers and an icebreaker activity.</td>
      </tr>
    </table>
    </div>
  <div class="col-md-6"> <!-- left column -->
    <h3>March 12, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 am MT (12:00 pm ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Introduction, Episodes 1, 2</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00-11:30 am MT (2:00-2:30 pm ET)</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30 am MT (2:30 pm ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Seeking Help, Data Structures, Episodes 3, 4</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:45 pm MT (2:45 pm ET)</td>        <!-- time    -->
        <td>End Class, Optional Discussion (15 min)</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
  <div class="row">   
    <div class="col-md-6"> <!-- left column -->
    <h3>March 14, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 am MT (11:00 am ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Exploring Data Frames, Subsetting, Episodes 5, 6 </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00-11:30 am MT (1:00-1:30 pm ET)</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30 pm MT (1:30 pm ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Control Flow and Vectorization, Episodes 7, 9</td>        <!-- content -->
      </tr>
             <tr>               <!-- row 4   -->
        <td>12:45 pm MT (2:45 pm ET)</td>        <!-- time    -->
        <td>End Class, Optional Discussion (30 min)</td>        <!-- content -->
      </tr>
    </table>
  </div>
    <div class="col-md-6"> <!-- right column -->
    <h3>March 19, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 am MT (11:00 am ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Visualization, Episode 8 </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00-11:30 am MT (1:00-1:30 pm ET)</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30 pm MT (1:30 pm ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Control Flow and Vectorization, Episodes 7, 9</td>        <!-- content -->
      </tr>
             <tr>               <!-- row 4   -->
        <td>12:45 pm MT (2:45 pm ET)</td>        <!-- time    -->
        <td>End Class, Optional Discussion (15 min)</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
   <div class="row">        <!-- days 3 and 4 -->
    <div class="col-md-6"> <!-- left column --> 
    <h3>March 21, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 am MT (11:00 am ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Functions and Writing Data, Episodes 10, 11</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00-11:30 pm MT (1:00-1:30 pm ET)</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30 am MT (1:30 pm ET)</td>        <!-- time    -->
        <td>R for Reproducible Analysis - Data Frame Manipulation with dplyr/tidyr, Episodes 12, 13</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:45 pm MT (2:45 pm ET)</td>        <!-- time    -->
        <td>End Class, Optional Discussion (15 min) and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
